[Unit]
Description=swarm-cronjob
Documentation=https://github.com/crazy-max/swarm-cronjob
After=syslog.target
After=network.target
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
RestartSec=2s
Type=simple
User=swarmcronjob
Group=swarmcronjob
ExecStart=/usr/local/bin/swarm-cronjob
Restart=always

[Install]
WantedBy=multi-user.target
